<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.crm.dao.CustomerLossMapper">
  <resultMap id="BaseResultMap" type="com.xxx.crm.vo.CustomerLoss">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cus_no" jdbcType="VARCHAR" property="cusNo" />
    <result column="cus_name" jdbcType="VARCHAR" property="cusName" />
    <result column="cus_manager" jdbcType="VARCHAR" property="cusManager" />
    <result column="last_order_time" jdbcType="TIMESTAMP" property="lastOrderTime" />
    <result column="confirm_loss_time" jdbcType="TIMESTAMP" property="confirmLossTime" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="loss_reason" jdbcType="VARCHAR" property="lossReason" />
    <result column="is_valid" jdbcType="INTEGER" property="isValid" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cus_no, cus_name, cus_manager, last_order_time, confirm_loss_time, state, loss_reason, is_valid, create_date, update_date
  </sql>

  <select id="selectByParams" parameterType="com.xxx.crm.query.CustomerLossQuery" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from t_customer_loss
    <where>
      is_valid = 1
      <if test="cusNo != null and cusNo != ''">
        and cus_no = #{cusNo}
      </if>
      <if test="cusName != null and cusName != ''">
        and cus_name like concat('%', #{cusName}, '%')
      </if>
      <if test="state != null">
        and state = #{state}
      </if>
    </where>
  </select>

  <insert id="insertSelective" parameterType="com.xxx.crm.vo.CustomerLoss">
    insert into t_customer_loss
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">id,</if>
      <if test="cusNo != null">cus_no,</if>
      <if test="cusName != null">cus_name,</if>
      <if test="cusManager != null">cus_manager,</if>
      <if test="lastOrderTime != null">last_order_time,</if>
      <if test="confirmLossTime != null">confirm_loss_time,</if>
      <if test="state != null">state,</if>
      <if test="lossReason != null">loss_reason,</if>
      <if test="isValid != null">is_valid,</if>
      <if test="createDate != null">create_date,</if>
      <if test="updateDate != null">update_date,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">#{id,jdbcType=INTEGER},</if>
      <if test="cusNo != null">#{cusNo,jdbcType=VARCHAR},</if>
      <if test="cusName != null">#{cusName,jdbcType=VARCHAR},</if>
      <if test="cusManager != null">#{cusManager,jdbcType=VARCHAR},</if>
      <if test="lastOrderTime != null">#{lastOrderTime,jdbcType=TIMESTAMP},</if>
      <if test="confirmLossTime != null">#{confirmLossTime,jdbcType=TIMESTAMP},</if>
      <if test="state != null">#{state,jdbcType=INTEGER},</if>
      <if test="lossReason != null">#{lossReason,jdbcType=VARCHAR},</if>
      <if test="isValid != null">#{isValid,jdbcType=INTEGER},</if>
      <if test="createDate != null">#{createDate,jdbcType=TIMESTAMP},</if>
      <if test="updateDate != null">#{updateDate,jdbcType=TIMESTAMP},</if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.xxx.crm.vo.CustomerLoss">
    update t_customer_loss
    <set>
      <if test="cusNo != null">cus_no = #{cusNo,jdbcType=VARCHAR},</if>
      <if test="cusName != null">cus_name = #{cusName,jdbcType=VARCHAR},</if>
      <if test="cusManager != null">cus_manager = #{cusManager,jdbcType=VARCHAR},</if>
      <if test="lastOrderTime != null">last_order_time = #{lastOrderTime,jdbcType=TIMESTAMP},</if>
      <if test="confirmLossTime != null">confirm_loss_time = #{confirmLossTime,jdbcType=TIMESTAMP},</if>
      <if test="state != null">state = #{state,jdbcType=INTEGER},</if>
      <if test="lossReason != null">loss_reason = #{lossReason,jdbcType=VARCHAR},</if>
      <if test="isValid != null">is_valid = #{isValid,jdbcType=INTEGER},</if>
      <if test="createDate != null">create_date = #{createDate,jdbcType=TIMESTAMP},</if>
      <if test="updateDate != null">update_date = #{updateDate,jdbcType=TIMESTAMP},</if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from t_customer_loss where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into t_customer_loss (cus_no, cus_name, cus_manager, last_order_time, state, is_valid, create_date, update_date)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.cusNo}, #{item.cusName}, #{item.cusManager}, #{item.lastOrderTime}, #{item.state}, #{item.isValid}, #{item.createDate}, #{item.updateDate})
    </foreach>
  </insert>
</mapper>
